{% extends "base.html" %}
{% block title %}
Dashboard
{% endblock %}
{% block content %}

<h1 class="page-title">{{ user.username }}'s Profile Page</h1>

<!-- 2 columns side by side (like table)
 on the left- the user's details, and a button "Edit"
 on the right- list of visited business pages \ pages with editing privileges -->

<div class="dashboard-section">
  <h2>My Details</h2>
  <ul>
    <li><strong>Username:</strong> {{ user.username }}</li>
    <li><strong>Email:</strong> {{ user.email }}</li>
    <li><strong>Company:</strong> Coming soon</li>
  </ul>
</div>

{% endblock %}
